{% extends 'management_email/base.html' %}

{% block title %}Список получателей рассылок{% endblock %}

{% block content %}

<head>
<style>
table, td, th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}
</style>
</head>

<body>

<h3 class="text-center w-100">Список получателей</h3>

    {% if user.is_authenticated %}
    <div class="text-center mb-3">
        <a href="{% url 'management_email:customers_create' %}" class="btn btn-primary mb-3">Создать новый объект</a>
    </div>
    {% endif%}

<table>
    <tr>
        <th scope="col" >Email</th>
        <th scope="col">ФИО</th>
        <th scope="col">Комментарий</th>
        <th scope="col">Действия</th>
    </tr>
    {% for customers in object_list %}
    <tr>
        <td scope="col" >{{customers.email}}</td>
        <td scope="col">{{customers.name}}</td>
        <td scope="col">{{customers.comment}}</td>
        <td>
            <a href="{% url 'management_email:customers_detail' customers.pk %}" class="btn btn-sm btn-secondary ml-3">Просмотр</a>
            <a href="{% url 'management_email:customers_update' customers.pk %}" class="btn btn-sm btn-secondary ml-3">Редактировать</a>
            <a href="{% url 'management_email:customers_delete' customers.pk %}" class="btn btn-sm btn-danger ml-1">Удалить</a>
        </td>
    </tr>
    {% endfor %}
</table>
</body>
{% endblock %}
