{% extends 'management_email/base.html' %}

{% block title %}Список сообщений{% endblock %}

{% block content %}
<head>
<style>
table, td, th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}
</style>
</head>

<body>

<h3 class="text-center w-100">Список сообщений</h3>

<div class="text-center mb-3">

    <a href="{% url 'management_email:message_create' %}" class="btn btn-primary mb-3">Создать новое сообщение</a>

</div>

<table>
    <tr>
        <th scope="col" >Тема письма</th>
        <th scope="col">Текст письма</th>
    </tr>

        {% for message in messages %}

    <tr>

        <td style="width: 20vh;">{{ message.heading }}</td>
        <td>{{ message.content }}</td>

        <td class="text-end" style="width: 20vh;">

            <a href="{% url 'management_email:message_update' message.pk %}" class="btn btn-sm btn-secondary ml-3">Редактировать</a>
            <a href="{% url 'management_email:message_delete' message.pk %}" class="btn btn-sm btn-danger ml-1">Удалить</a>

        </td>

        <td class="text-end" style="width: 20vh;"></td>

    </tr>
        {% endfor %}

</table>
</body>

{% endblock %}