{% extends 'management_email/base.html' %}

{% block title %}Список сообщений{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h3>Список сообщений</h3>
        <a href="{% url 'management_email:message_create' %}" class="btn btn-primary mb-3">Создать новое сообщение</a>
</div>

<div class="table-responsive small">
    <table class="table table-striped table-sm">
        <thead>
        <tr>

            <th scope="col" >Тема письма</th>
            <th scope="col">Текст письма</th>
        </tr>
        </thead>
        <tbody>
        {% for message in messages %}
        <tr>

            <td style="width: 20vh;">{{ message.heading }}</td>
            <td>{{ message.content }}</td>

            <td class="text-end" style="width: 20vh;">

                <a href="{% url 'management_email:message_update' message.pk %}" class="btn btn-sm btn-secondary ml-3">Редактировать</a>
                <a href="{% url 'management_email:message_delete' message.pk %}" class="btn btn-sm btn-danger ml-1">Удалить</a>

            </td>

            <td class="text-end" style="width: 20vh;"></td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}