{% extends 'management_email/base.html' %}

{% block title %}Список сообщений{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">Список сообщений</h1>
        <a href="{% url 'management_email:message_create' %}" class="btn btn-primary mb-3">Создать новое сообщение</a>
        <ul class="list-group">
            {% for message in messages %}
                <li class="list-group-item">
                    <a href="{% url 'management_email:message_detail' message.pk %}">{{ message.heading }}</a>
                    <a href="{% url 'management_email:message_update' message.pk %}" class="btn btn-sm btn-secondary ml-3">Редактировать</a>
                    <a href="{% url 'management_email:message_delete' message.pk %}" class="btn btn-sm btn-danger ml-1">Удалить</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}