{% extends 'management_email/base.html' %}

{% block title %}Получатель рассылки{% endblock %}

{% block content %}

<div class="container">
    <div class="row text-center">

        <div class="col-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">

                </div>
                <div class="card-body">
                    <h5 class="card-title">ФИО{{ object.name }}</h5>
                        <p>Электронная почта: {{ object.email }}</p>

                        <p>Комментарии{{ object.comment }}</p>

                        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Отправить</button>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}